
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styling */

:root {
  --bg-color: #e68b02;
  --text-color: #090909;
}

/* page layout */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
               Consolas, "Liberation Mono", "Courier New", monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* ====== OPTIONAL CONTENT WRAPPER ====== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
